@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Fundo principal: Cinza quase preto */
    --background: 240 10% 4%; 
    --foreground: 0 0% 98%;
    
    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;
    
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    
    /* Borda suave para separar elementos */
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}